{% extends "base.html" %}
{% block title %}Homes{% endblock %}
{% block content %}
<div class="container border rounded shadow justify-content-center" style="background: rgba(70,211,126,0.18);margin-top: 14px;padding-top: 37px;padding-bottom: 35px;width: 416.2px;margin-right: 1;">
    <form>
        <div class="mb-3" style="min-width: 36px;"><input class="form-control" type="email" name="email" placeholder="Email" style="width: 387.2px;" /></div>
        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" style="width: 388.2px;" /></div>
        <div class="d-inline mb-3" style="width: 192.2px;min-width: 107px;"><button class="btn btn-primary border rounded-pill border-primary shadow w-100" type="button" style="margin-top: 25px;">Log In</button></div>
    </form>
</div>
{% endblock %}