{% extends "base.html" %}
{% block title %}Homes{% endblock %}
{% block content %}
   <div style="margin-right: 100px;margin-left: 100px;margin-top: 50px;margin-bottom: 50px;">
        <div class="container text-center border rounded shadow justify-content-center" style="background: rgba(70,211,126,0.18);margin-top: 14px;padding-top: 37px;padding-bottom: 35px;width: 416.2px;margin-right: 1;"><label class="form-label text-center" style="font-family: Roboto, sans-serif;color: #15674f;font-weight: bold;font-size: 18px;margin-bottom: 19px;">Hospital Information</label>
            <form>
                <div class="mb-3" style="min-width: 36px;padding-bottom: 10px;"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                <div class="mb-3" style="min-width: 36px;padding-bottom: 10px;"><input class="form-control" type="text" name="Address" placeholder="Address"></div>
                <div class="text-center mb-3" style="min-width: 36px;padding-bottom: 10px;"><label class="form-label text-center" style="margin-bottom: 19px;font-size: 14px;color: var(--bs-indigo);font-weight: bold;font-family: Arvo, serif;min-width: 133px;width: 183px;">Plan</label>
                    <div class="btn-group" role="group"><button class="btn btn-primary border rounded" type="button" style="margin-right: 6px;margin-left: 6px;background: var(--bs-purple);font-weight: bold;font-family: 'Open Sans', sans-serif;">Basic</button><button class="btn btn-primary border rounded" type="button" style="margin-right: 6px;margin-left: 6px;background: #15674f;font-weight: bold;font-family: 'Open Sans', sans-serif;">Premium</button><button class="btn btn-primary border rounded" type="button" style="margin-right: 6px;margin-left: 6px;background: rgb(222,196,55);color: var(--bs-white);font-weight: bold;font-family: 'Open Sans', sans-serif;text-align: center;">Golden</button></div>
                </div>
                <div class="mb-3" style="min-width: 36px;padding-bottom: 10px;"><input class="form-control" type="text"></div>
                <div class="d-inline mb-3" style="width: 192.2px;min-width: 107px;padding-bottom: 10px;"><button class="btn btn-primary border rounded-pill border-primary shadow w-100" type="button" style="margin-top: 25px;">Add Hospital</button></div>
            </form>
        </div>
    </div>
{% endblock %}