{% extends "base.html" %}
{% block title %}Homes{% endblock %}
{% block content %}
        <div class="d-lg-flex justify-content-center justify-content-lg-center" style="margin-right: 100px;margin-left: 100px;margin-top: 50px;margin-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 style="margin-top: 6px;">Welcome back, user&nbsp;</h5>
                    <h3 class="text-center" style="margin-top: 18px;margin-bottom: 44px;padding-bottom: 21px;border-radius: 2px;border-top-left-radius: 20px;border-top-right-radius: 46px;border-bottom: 0.4px dashed #15674f ;">Admin Dashboard</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 29px;border-style: solid;border-top-style: solid;border-right-style: solid;">
                <div class="col">
                    <div class="row">
                        <div class="col-md-12 text-center"><button class="btn btn-primary" type="button" style="margin-right: 35px;margin-left: 35px;margin-top: 10px;margin-bottom: 10px;">View Clients</button><button class="btn btn-primary" type="button" style="margin-right: 35px;margin-left: 35px;margin-top: 10px;margin-bottom: 10px;">View Clients</button><button class="btn btn-primary" type="button" style="margin-right: 35px;margin-left: 35px;margin-top: 10px;margin-bottom: 10px;">View Clients</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}