{% extends "base.html" %}
{% block title %}Homes{% endblock %}
{% block content %}
    <div>
    <div>
        <h4 style="margin-top: 6px;padding-top: 40px;padding-left: 103px;color: var(--bs-gray-dark);"></h4>
        <div class="d-lg-flex justify-content-lg-center"></div>
    </div>
    <div class="d-lg-flex justify-content-center justify-content-lg-center" style="margin: 0px 100px 50px;">
        <div class="container shadow" style="background: rgba(70,211,126,0.18);padding: 29px;border-radius: 14px;">
           {% for person in people %}
            <div class="row" style="margin-top: -17px;padding-top: 51px;padding-bottom: 56px;border-top-color: var(--bs-cyan);">
                <div class="col">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="text-center" style="padding: 9px 9px 13px;margin-bottom: 18px;color: #15674f;font-size: 27px;">
                            {% if person.plan.id %}
                                Available hospitals for your {% if not person.f_name %}{{ person.kinship.lower() }} {{ person.name }}'s{% endif %} plan ({{ person.plan.type }})<br /></h2>
                            {% for hospital in hospitals[person.plan.id|int] %}
                                <div class="card">
                                    <div class="card-body">
                                        <h5  style="color:#000066 ;text-align: left; float: left; width: 20%;">{{ hospital.name }}</h5>
                                        <h5  style="color:#660033 ;text-align: left; float: right; width: 55%;">address:&nbsp;  {{ hospital.address }}</h5>
                                        <h5  style="color:darkred ;text-align: left; float: right; width: 25%;">contact:&nbsp;  {{ hospital.phone }}</h5>


                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                                {% if not person.f_name %}Your {{ person.kinship.lower() }} {{ person.name }} is not enrolled in any plan
                                {% else %}
                                    You are not enrolled in any plan
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}