<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>hospital</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header>
        <div class="container" style="padding-top: 10px;">
            <div class="row" style="border-radius: 34px;border-bottom: 2.4px solid var(--bs-pink);padding-bottom: 10px;">
                <div class="col-md-4 d-flex d-md-flex justify-content-center justify-content-md-center"><img src="assets/img/LOGO.png" style="width: 80px;text-align: center;height: 80px;min-height: 80px;max-height: 80px;min-width: 80px;max-width: 80px;margin-top: -3px;"></div>
                <div class="col-md-4">
                    <h1 class="text-center d-sm-flex d-lg-flex justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center" style="padding-top: 0;font-family: Arvo, serif;margin-top: 24px;font-size: 25.880000000000006px;">Insurance Portal</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="d-lg-flex justify-content-center justify-content-lg-center" style="margin-right: 100px;margin-left: 100px;margin-top: 50px;margin-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 style="margin-top: 6px;">Welcome back, user&nbsp;</h5>
                    <h3 class="text-center" style="margin-top: 18px;margin-bottom: 44px;padding-bottom: 21px;border-radius: 2px;border-top-left-radius: 20px;border-top-right-radius: 46px;border-bottom: 0.4px dashed var(--bs-red) ;">Admin Dashboard</h3>
                </div>
            </div>
            <div class="row" style="margin-top: 29px;border-style: solid;border-top-style: solid;border-right-style: solid;">
                <div class="col">
                    <div class="row">
                        <div class="col-md-12 text-center"><button class="btn btn-primary" type="button" style="margin-right: 35px;margin-left: 35px;margin-top: 10px;margin-bottom: 10px;">View Clients</button><button class="btn btn-primary" type="button" style="margin-right: 35px;margin-left: 35px;margin-top: 10px;margin-bottom: 10px;">View Clients</button><button class="btn btn-primary" type="button" style="margin-right: 35px;margin-left: 35px;margin-top: 10px;margin-bottom: 10px;">View Clients</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-basic">
        <p class="copyright">Insurance Company Project</p>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>