{% set sub_cus = true %}
{% extends "base.html" %}
{% block title %}Homes{% endblock %}
{% block content %}
    <script>
         function change_detail() {
                    let plans = {{ plans | tojson }};
                    let plan_id = parseInt(document.getElementById('plans').value);
                    let plan = 0;
                    for(let i in plans){
                        if(plan_id === parseInt(plans[i]['id'])){
                             document.getElementById("curr_plan").innerText = "price: "+  plans[i]['price'] +
                             " EGP  -  Benefits: " + plans[i]['benefits'] + " - " + plans[i]['enrolled'] + " enrolled hospitals.";
                         break;
                        }
                    }
                }
    </script>
    <div style="margin: 10px 50px;transform: scale(0.9)">
        <div class="container text-center border rounded shadow justify-content-center" style="background: rgba(70,211,126,0.18);margin-top: -24px;width: 570px;padding: 37px 60px 35px;"><label class="form-label text-center" style="font-family: Roboto, sans-serif;color: #15674f;font-weight: bold;font-size: 18px;margin-bottom: 19px;">Dependent Information</label>
            <form id="form1" method="post">
                <div class="mb-3" style="min-width: 36px;padding-bottom:  5px;">
                    <div class="row" style="margin-left: -80px;">
                        <div class="col" style="margin-right: -55px;"><label class="col-form-label">First Name</label></div>
                        <div class="col"><input class="form-control" type="text" pattern="[a-zA-Z]+" name="name" placeholder="First Name" required /></div>
                    </div>
                </div>

                <div class="mb-3" style="min-width: 36px;padding-bottom:  5px;">
                    <div class="row" style="margin-left: -80px;">
                        <div class="col" style="margin-right: -55px;"><label class="col-form-label">Kinship</label></div>
                        <div class="col"><input class="form-control" type="text" pattern="[a-zA-Z]+"  name="kinship" placeholder="dependent kinship to you" required /></div>
                    </div>
                </div>

                <div class="mb-3" style="min-width: 36px;padding-bottom:  5px;">
                    <div class="row" style="margin-left: -80px;">
                        <div class="col" style="margin-right: -55px;"><label class="col-form-label">Gender</label></div>
                        <div class="col"><select class="form-select form-select-sm" style="font-size: 17px;color: var(--bs-gray-800);width: 136.2px;" name="gender" required>
                                <option value="male" selected>Male</option>
                                <option value="female">Female</option>
                            </select></div>
                    </div>
                </div>
                <div class="mb-3" style="min-width: 36px;padding-bottom:  5px;">
                    <div class="row" style="margin-left: -80px;">
                        <div class="col" style="margin-right: -55px;"><label class="col-form-label">Birth date</label></div>
                        <div class="col"><input class="form-control" type="date" name="b_date" required /></div>
                    </div>
                </div>
                <div class="mb-3" style="min-width: 36px;padding-bottom:  5px;">
                    <div class="row" style="margin-left: -80px;">
                        <div class="col" style="margin-right: -55px;"><label class="col-form-label">Purchase plan</label></div>
                            <div class="col"><select name="plan" id='plans' class="form-select form-select-sm" style="font-size: 17px;color: #15674f;font-weight: bold;width: 120px;" name="plan" onchange="change_detail();" required>
                                {% for plan in plans %}
                                <option value='{{ plan.id }}' style="color: #1DA7EE;font-weight: bold;">{{ plan.type }}</option>
                                {% endfor %}
                                </select>
                            </div>
                    </div>
                </div>
            </form>
            <div><h4 id='curr_plan' class="col-form-label"></h4>
            <span class="col-form-label">(Payment method should be added here)</span></div>

            <div class="d-inline mb-3" style="width: 192px;min-width: 107px;padding-bottom:  5px;"><button class="btn btn-success border rounded-pill border-primary shadow w-100" type="submit" style="margin-top: 25px;" data-bs-target="#" data-bs-toggle="submit" form="form1">Add dependent</button></div>
        </div>
    </div>

<script>
    change_detail();
</script>
{% endblock %}