{% set sub_cus = true %}
{% extends "base.html" %}
{% block title %}Purchase Plan{% endblock %}
{% block content %}

<script>
   function changePlans () {
       let cont_id = parseInt(document.getElementById('ben').value);
       let plan_id = 0;
       let text = '';
       let people = {{ people | tojson }};
       let plans = {{ plans | tojson }};
       for(let i in people){
            console.log(people[i]);
           if (parseInt(people[i]['contract']['id']) === cont_id){
               plan_id = people[i]['contract']['plan_id'];
               for(let i in plans){
                   if(parseInt(plans[i]['id']) === plan_id) continue;
                   text += '<option value="' + plans[i]['id'] + '" style="font-weight: bold;">' + plans[i]['type'] + '</option>';
               }
               document.getElementById('plans').innerHTML = text ;
               change_detail();
               break;
           }
       }

    };

     function change_detail() {
            let plans = {{ plans | tojson }};
            let plan_id = parseInt(document.getElementById('plans').value);
            let plan = 0;
            for(let i in plans){
                if(plan_id === parseInt(plans[i]['id'])){
                     document.getElementById("curr_plan").innerText = "price: "+  plans[i]['price'] +
                     " EGP  -  Benefits: " + plans[i]['benefits'] + " - " + plans[i]['enrolled'] +
                     " enrolled hospitals.";
                 break;
                }
            }

    };


</script>


    <div>
    <div>
        <div class="d-lg-flex justify-content-lg-center"></div>
    </div>
    <div class="d-lg-flex justify-content-center justify-content-lg-center" style="margin-right: 100px;margin-left: 100px;margin-top: 24px;margin-bottom: 50px;">
        <div class="container shadow" style="background: rgba(70,211,126,0.18);padding: 29px;border-radius: 14px;">
            <div class="row" style="margin-top: -17px;padding-top: 51px;padding-bottom: 56px;border-top-color: var(--bs-cyan);">
                <div class="col">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <form id="form1" method="post">
<h6 class="text-center" style="background: var(--bs-yellow);padding: 9px 9px 13px;margin-bottom: 18px;color: var(--bs-indigo);font-size: 18px;">Purchase new plan</h6>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div>
                                                    <div style="padding-bottom: 20px;padding-top: 47px;">
                                                        <div class="row" style="margin-left: -80px;">
                                                            <div class="col text-end" style="margin-right: 0;padding-bottom: 0;"><label class="col-form-label" style="font-weight: bold;">Beneficiary</label></div>
                                                            <div class="col"><select id = 'ben' name="ben" class="form-select form-select-sm" style="font-size: 17px;color: #15674f;font-weight: bold;width: 271.2px;" name="plan" onchange="changePlans();" required>
                                                                {% for person in people %}
                                                                    {% if person.f_name %}
                                                                    <option value="{{ person.contract.id }}" style="color: #15674f;font-weight: bold;">You - {{  person.plan_type }}</option>
                                                                    {% else %}
                                                                    <option value="{{ person.contract.id }}" style="color: #15674f;font-weight: bold;">{{ person.kinship.capitalize() }}, {{  person.name.capitalize() }} - {{ person.plan_type }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select></div>
                                                        </div>
                                                    </div>
                                                    <div style="padding-bottom: 20px;">
                                                        <div class="row" style="margin-left: -80px;">
                                                            <div class="col" style="margin-right: 0;text-align: right;width: 528.1px;"><label class="col-form-label" style="font-weight: bold;">Plan</label></div>
                                                            <div class="col"><select id="plans" name="plans" onchange="change_detail();" name="plan" class="form-select form-select-sm" style="font-size: 17px;color: #15674f;font-weight: bold;width: 138.2px;" name="plan" required>
                                                                </select></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 0;">
                                    <div><h4 id='curr_plan' class="col-form-label"></h4></div>
                                </div>
                                <div style="margin-top: 23px;"><label class="form-label">Note: If the beneficiary already has  a plan, purchasing a new one will override the old one.</label><label class="form-label">Your payment method will be charged directly according to the plan&#39;s prices listed below.</label>
                                    <div></div>
                                </div>
                            </form><label class="form-label"></label>
                            <br><br>
                            <button class="btn btn-primary" type="submit" form='form1' style="margin-left: 23px;">Purchase</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        changePlans();
    </script>
{% endblock %}