{% extends "base.html" %}
{% block title %}Purchase Plan{% endblock %}
{% block content %}
    <div>
    <div>
        <h4 style="margin-top: 6px;padding-top: 40px;padding-left: 103px;color: var(--bs-gray-dark);">Welcome back, {{ cus.name }}</h4>
        <div class="d-lg-flex justify-content-lg-center"></div>
    </div>
    <div class="d-lg-flex justify-content-center justify-content-lg-center" style="margin-right: 100px;margin-left: 100px;margin-top: 24px;margin-bottom: 50px;">
        <div class="container shadow" style="background: rgba(70,211,126,0.18);padding: 29px;border-radius: 14px;">
            <div class="row" style="margin-top: -17px;padding-top: 51px;padding-bottom: 56px;border-top-color: var(--bs-cyan);">
                <div class="col">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <form id="form1" method="post">
                                <div class="card" style="background: rgba(111,66,193,0.15);">
                                    <h4>Purchase Plan</h4>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div>
                                                    <div style="padding-bottom: 20px;padding-top: 47px;">
                                                        <div class="row" style="margin-left: -80px;">
                                                            <div class="col text-end" style="margin-right: 0;padding-bottom: 0;"><label class="col-form-label" style="font-weight: bold;">Beneficiary</label></div>
                                                            <div class="col"><select name="ben" class="form-select form-select-sm" style="font-size: 17px;color: #15674f;font-weight: bold;width: 271.2px;" name="plan" required>
                                                                    <option value="cus,{{ cus_id }}" selected style="color: #8B8676;font-weight: bold;">You</option>
                                                                {% for dep in dependents %}
                                                                    <option value="dep,{{ dep['cus_id'] }},{{ dep['name'] }},{{ dep['kinship'] }}" style="color: #1DA7EE;font-weight: bold;">{{ dep['kinship'].capitalize() }}, {{  dep['name'].capitalize() }} - {{  dep['plan'] }}</option>
                                                                {% endfor %}
                                                            </select></div>
                                                        </div>
                                                    </div>
                                                    <div style="padding-bottom: 20px;">
                                                        <div class="row" style="margin-left: -80px;">
                                                            <div class="col" style="margin-right: 0;text-align: right;width: 528.1px;"><label class="col-form-label" style="font-weight: bold;">Plan</label></div>
                                                            <div class="col"><select name="plan" class="form-select form-select-sm" style="font-size: 17px;color: #15674f;font-weight: bold;width: 138.2px;" name="plan" required>
                                                                {% for i in plans %}
                                                                    <option value="{{ i.id }}" selected style="font-weight: bold;">{{ i.type }}</option>
                                                                {% endfor %}
                                                                </select></div>
                                                        </div>
                                                    </div><button class="btn btn-primary" type="submit" form='form1' style="margin-left: 23px;">Purchase</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 23px;"><label class="form-label">Note: If the beneficiary already has  a plan, purchasing a new one will override the old one.</label><label class="form-label">Your payment method will be charged directly according to the plan&#39;s prices listed below.</label>
                                    <div></div>
                                </div>
                                <div style="margin-top: 0;">
                                    <p style="margin-bottom: 0px;">Basic Plan: 50 USD, benefits: 40% coverage</p>
                                </div>
                            </form><label class="form-label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}