{% set sub_admin = true %}

{% extends "base.html" %}
{% block title %}Homes{% endblock %}
{% block content %}
    <div>
        <div>
            <div>
                <div class="d-lg-flex justify-content-lg-center"></div>
            </div>
            <div class="d-lg-flex justify-content-center justify-content-lg-center" style="margin-right: 100px;margin-left: 100px;margin-top: 24px;margin-bottom: 50px;">
                <div class="container shadow" style="background: rgba(70,211,126,0.18);padding: 29px;border-radius: 14px;">
                    <div>
                        <div class="row" style="margin-top: -17px;padding-top: 51px;padding-bottom: -8px;border-top-color: var(--bs-cyan);">
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h2 class="text-center" style="background:var(--bs-yellow);padding: 9px 9px 13px;margin-bottom: 18px;color: var(--bs-indigo);font-size: 27px;font-weight: bold;">Customers</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <br>
                <br>
                <br>
                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center">
                        <ul class="list-group" style="width: 738.6px;">
                            {% for cus in customers %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col d-lg-flex align-items-lg-center" style="width: 375.8px;min-width: 499px;">
                                        <h5 style="text-align: left;width: 455.6px;">{{ cus.f_name.capitalize() }} {{ cus.m_name }} {{ cus.l_name }} </h5>
                                    </div>
                                    <div class="col text-end" style="min-width: 218px;max-width: 218px;"><button onclick="window.location.href='{{ url_for( 'views.view_customer', id=cus.id  ) }}';"  class="btn btn-primary" type="button" style="margin-right: 6px;">Customer Details</button></div>
                                </div>
                            </li>
                            {% endfor %}
                        <br><br><br><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}